fastapi==0.115.5
uvicorn[standard]==0.31.0
pydantic==2.10.2
python-dotenv==1.0.0
pymysql==1.1.0
sqlalchemy==2.0.28
cryptography==45.0.0
requests==2.32.3
opencv-python==4.10.1.26
numpy==1.26.4
mediapipe==0.10.9
pillow==11.0.0
scipy==1.14.1
scikit-image==0.24.1
openvino==2024.5.0
openvino-dev==2024.5.0
onnx==1.16.1
onnxruntime==1.19.0
apscheduler==3.10.4
python-multipart==0.0.6
aiofiles==24.1.0
